body {
    background: linear-gradient(217deg, #a8edea, #ddd6f3, #fff5cc, #fcbdff);
    background-size: 800% 800%;

    -webkit-animation: gradientbackground 7s ease infinite;
    -moz-animation: gradientbackground 7s ease infinite;
    animation: gradientbackground 7s ease infinite;
}

@-webkit-keyframes gradientbackground {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@-moz-keyframes gradientbackground {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes gradientbackground {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}



$icon-font-path: '../fonts/' !default;


@font-face {
    font-family: AdieuRegular;
    src: url('#{$icon-font-path}Adieu-Regular.otf') format('opentype');
    src: url('#{$icon-font-path}Adieu-Regular.woff') format('woff');
    src: url('#{$icon-font-path}Adieu-Regular.woff2') format('woff2');
}

.container {
    // display: -webkit-flex;
    // display: flex ;
    // -webkit-flex-direction: row;
    // flex-direction: row;
    padding: 6vw;
    padding-top: 4vw;
    color: #d6d6d6;
    
}


body {
/*  padding: 0;
  margin: 0;*/
    font-family: -apple-system, BlinkMacSystemFont, "Microsoft yahei","Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 3vh 1rem;
  justify-content: center;
  // background: #DCDAFF;
  // background: #171717;
  background: #000;

}

.about-text {
  // padding: 4vw;
  
}

p{
  // color: #1a1a1a;

  font-size: 1em;
  line-height: 1.4em;
}

h2 {
    font-family: AdieuRegular;
    // font-size: 1.5vw;
    font-size: 1.2em;
    color: #fff;

    font-weight: 600;
    padding-top: 26px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

a {
    color: #fff;
    // color: #000;
    font-weight: 600;
    text-decoration: underline;
}
