$icon-font-path: '../fonts/' !default;
$gray: #918c7e;
$light-orange: #fddb92;
$light-blue: #92aefd;
$neon-green: #C0FF00;

@font-face {
    font-family: 'mad-sans-bold';
    src: url('#{$icon-font-path}mad-sans-bold.eot');
    src: url('#{$icon-font-path}mad-sans-bold.eot?#iefix') format('embedded-opentype'),
         url('#{$icon-font-path}mad-sans-bold.woff2') format('woff2'),
         url('#{$icon-font-path}mad-sans-bold.woff') format('woff'),
         url('#{$icon-font-path}mad-sans-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


#debug-bar{background-color:#222;border-left:1px solid #444;border-top:1px solid #444;bottom:0;margin:0;max-height:75%;padding:.5em;position:fixed;right:0;z-index:99900}#debug-bar>div:not([id])+div{margin-top:.5em}#debug-bar>div>label{margin-right:.5em}#debug-bar>div>input[type=text]{min-width:0;width:8em}#debug-bar>div>select{width:15em}#debug-bar-toggle{color:#eee;background-color:#222;border:1px solid #444;height:101%;height:calc(100% + 1px);left:-2em;left:calc(-2em - 1px);position:absolute;top:-1px;width:2em}#debug-bar-toggle:hover{background-color:#333;border-color:#eee}#debug-bar-hint{bottom:.175em;font-size:4.5em;opacity:.33;pointer-events:none;position:fixed;right:.6em;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;white-space:nowrap}#debug-bar-watch{background-color:#222;border-left:1px solid #444;border-top:1px solid #444;bottom:102%;bottom:calc(100% + 1px);font-size:.9em;left:-1px;max-height:650%;max-height:65vh;position:absolute;overflow-x:hidden;overflow-y:scroll;right:0;z-index:99800}#debug-bar-watch[hidden]{display:none}#debug-bar-watch div{color:#999;font-style:italic;margin:1em auto;text-align:center}#debug-bar-watch table{width:100%}#debug-bar-watch tr:nth-child(2n){background-color:rgba(127,127,127,.15)}#debug-bar-watch td{padding:.2em 0}#debug-bar-watch td:first-child+td{padding:.2em .3em .2em .1em}#debug-bar-watch .watch-delete{background-color:transparent;border:none;color:#c00}#debug-bar-watch-all,#debug-bar-watch-none{margin-left:.5em}#debug-bar-views-toggle,#debug-bar-watch-toggle{color:#eee;background-color:transparent;border:1px solid #444;margin-right:1em;padding:.4em}#debug-bar-views-toggle:hover,#debug-bar-watch-toggle:hover{background-color:#333;border-color:#eee}#debug-bar-watch:not([hidden])~div #debug-bar-watch-toggle,html[data-debug-view] #debug-bar-views-toggle{background-color:#282;border-color:#4a4}#debug-bar-watch:not([hidden])~div #debug-bar-watch-toggle:hover,html[data-debug-view] #debug-bar-views-toggle:hover{background-color:#4a4;border-color:#6c6}#debug-bar-hint:after,#debug-bar-toggle:before,#debug-bar-views-toggle:after,#debug-bar-watch .watch-delete:before,#debug-bar-watch-add:before,#debug-bar-watch-all:before,#debug-bar-watch-none:before,#debug-bar-watch-toggle:after{font-family:tme-fa-icons;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;speak:none}#debug-bar-toggle:before{content:"\e838"}#debug-bar-hint:after{content:"\e838\202f\e822"}#debug-bar-watch .watch-delete:before{content:"\e804"}#debug-bar-watch-add:before{content:"\e805"}#debug-bar-watch-all:before{content:"\e83a"}#debug-bar-watch-none:before{content:"\e827"}#debug-bar-views-toggle:after,#debug-bar-watch-toggle:after{content:"\00a0\00a0\e830"}#debug-bar-watch:not([hidden])~div #debug-bar-watch-toggle:after,html[data-debug-view] #debug-bar-views-toggle:after{content:"\00a0\00a0\e831"}html[data-debug-view] .debug{padding:.25em;background-color:#234}html[data-debug-view] .debug[title]{cursor:help}html[data-debug-view] .debug.block{display:inline-block;vertical-align:middle}html[data-debug-view] .debug.invalid{text-decoration:line-through}html[data-debug-view] .debug.hidden,html[data-debug-view] .debug.hidden .debug{background-color:#555}html:not([data-debug-view]) .debug.hidden{display:none}html[data-debug-view] .debug[data-name][data-type].nonvoid:after,html[data-debug-view] .debug[data-name][data-type]:before{background-color:rgba(0,0,0,.25);font-family:monospace,monospace;white-space:pre}html[data-debug-view] .debug[data-name][data-type]:before{content:attr(data-name)}html[data-debug-view] .debug[data-name][data-type|=macro]:before{content:"<<" attr(data-name) ">>"}html[data-debug-view] .debug[data-name][data-type|=macro].nonvoid:after{content:"<</" attr(data-name) ">>"}html[data-debug-view] .debug[data-name][data-type|=html]:before{content:"<" attr(data-name) ">"}html[data-debug-view] .debug[data-name][data-type|=html].nonvoid:after{content:"</" attr(data-name) ">"}html[data-debug-view] .debug[data-name][data-type]:not(:empty):before{margin-right:.25em}html[data-debug-view] .debug[data-name][data-type].nonvoid:not(:empty):after{margin-left:.25em}html[data-debug-view] .debug[data-name][data-type|=special],html[data-debug-view] .debug[data-name][data-type|=special]:before{display:block}

// tw-icon.undo {
//   display: none!important;
// }



body {
  background: linear-gradient(-45deg, $light-orange, #d1fdff);
background-size: 400% 400%;
animation: gradient 15s ease infinite;
font-family: 'Karla', sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.passage {
      background: rgba(255,255,255,0.5);
      padding:1em;
      color: black;
}

tw-link {
  color: black;
}

div#30-60-90-plan {
  border: 5px solid red !important;
}

/*UI Bar*/

div#ui-bar {
    background: $neon-green;
    border-right: none;
}

ul#menu-core, ul#menu-story {
  border: none !important;
}


li#menu-item-restart, li#menu-story {
    border: none !important;
}

#menu ul {
  border-bottom-color: rgb(0, 0, 0) !important;
}
h1#story-title {
  font-family:'mad-sans-bold', sans-serif;
  size: 4em;
  color: $gray;
}

#menu li a {
  color: $gray !important;
}

#ui-bar-history {
  border-bottom-color: rgb(0, 0, 0) !important;

}

#menu li:not(:first-child) {
  border: none !important;
}

#menu li a:hover {
  background-color: $light-orange !important;
}

#ui-bar-history [id|=history], #ui-bar-toggle {
  border: none !important;
  color: $gray !important;
}

#ui-bar-history [id|=history]:hover, #ui-bar-toggle:hover {
  background-color: $light-orange !important;
}

#ui-bar-history [id|=history]:disabled {
  color: white !important;
}


/*UI Dialog alert*/


div#ui-dialog-titlebar {
  background-color: $light-orange;
}
div#ui-dialog-body {
  border: 3px solid $light-orange !important;
  background-color: rgba(0,0,0,0) !important;
}

button#restart-cancel, button#restart-ok {
  background-color: $light-blue;
}

button#ui-dialog-close,h1#ui-dialog-title {
  color: $gray !important;
}

#passages {
  a.link-internal {
    background: $neon-green;
    padding: 0.2em;
    border-radius: 2em;
  }
}

.end-text {
  font-family:'mad-sans-bold', sans-serif;
  font-size: 3em;
  margin: 0 auto;
  text-align: center !important;
  color: $gray;

}

a.end-text-link.link-external {
  background: $neon-green;
  padding: 0.2em;
  border-radius: 2em;
  padding: 1em;
  display: flex;
  margin: 0 auto;
  text-align: center !important;
  align-items: center!important;
  justify-content: center!important;
}


.text-message-phone {
  font-family: helvetica;
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  content: "";
  background: #eee;
  border-bottom-right-radius: 15px;
}

.slack-alert {
    font-family: 'Lato' !important;
}
