$icon-font-path: '../fonts/' !default;

@font-face {
    font-family: 'mad-sans-bold';
    src: url('#{$icon-font-path}mad-sans-bold.eot');
    src: url('#{$icon-font-path}mad-sans-bold.eot?#iefix') format('embedded-opentype'),
         url('#{$icon-font-path}mad-sans-bold.woff2') format('woff2'),
         url('#{$icon-font-path}mad-sans-bold.woff') format('woff'),
         url('#{$icon-font-path}mad-sans-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: AdieuRegular;
    src: url('#{$icon-font-path}Adieu-Regular.otf') format('opentype');
    src: url('#{$icon-font-path}Adieu-Regular.woff') format('woff');
    src: url('#{$icon-font-path}Adieu-Regular.woff2') format('woff2');
}

html {
  height: 100%;
}

body {
  // background: image-url("landing/fom-buid-7.png") no-repeat center center fixed;
  background: image-url("landing/fom-office.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}


.overall {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
    flex-direction: row;

}

.intro{
  padding-top: 20px;
  padding-bottom: 30px;
}

p{
  font-size: 14px;

}

a {
  color: #000;
  text-decoration: none;
  text-align: left;
  font-size: 16px;
  padding: 1em;
  font-family: AdieuRegular;
  // font-family: 'mad-sans-bold', sans-serif;

}


.menu {
  margin-top: 10vh;
  margin-left: 50%;
  padding:2em;
  width: 40%;
  background: rgba(255,255,255,0.6);
  height: 80%;
}


.audio {
  position: absolute;
  right:    0;
  bottom:   0;
}

audio::-webkit-media-controls-panel {
  color: white;
}
audio::-webkit-media-controls-play-button{
  color: pink;
}

button {
  background: transparent;
  border: none;
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid #000;
  // margin-bottom: 1em;
  // padding: 1em;
}

.vimeo-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: none;
   overflow: hidden;
}
.vimeo-wrapper iframe {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#vol {
  width: 1.2em;
  opacity: 0.13;
  cursor: pointer;
}
#vol:hover {
  opacity: 1.0;
}

.bottom-right {
    bottom: 1em;
    left: 1.25em;
  }

