@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
  background-color: white;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 5vh 2rem;
  text-align: center;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.top-bar{
  margin-top: -60px;
  margin-left: 50%;
  position: absolute;
  display: flex;
}

.parent-container {
  display: flex;
}

.radicals.right {
  // display: flex;
  margin-left: 2em;
}


.definition-box{
  margin-bottom: 25px;
  border-radius: 15pt;
  height: 40px;
  // overflow: hidden;
  border: 1px solid #EBEBEB;
}

.radical-menu-container {
  margin-bottom: 25px;
  border-radius: 15pt;
  overflow: hidden;
  border: 1px solid #EBEBEB;
}

.word-container{
  margin-bottom: 25px;
  border-radius: 15pt;
  overflow: hidden;
  border: 1px solid #EBEBEB;
}


.radical-menu, .word-menu {
  order:1;
  padding: 1em;
  height: 400px;
  text-align: left;
}

.radical-menu {
  overflow: scroll;

}

.word-menu {
  height: fit-content;
}

.radical-menu::-webkit-scrollbar {
  width: 11px;
}

.radical-menu {
  scrollbar-width: thin;
  scrollbar-color: var(#90A4AE) var(#CFD8DC);
}

.radical-menu::-webkit-scrollbar-track {
  background: var(#CFD8DC);
}
.radical-menu::-webkit-scrollbar-thumb {
  background-color: var(#90A4AE) ;
  border-radius: 6px;
  border: 3px solid var(#CFD8DC);
}


.radical-group-category {
    display: inline;
    width: 200px;
}

.radical-button, .word-button {
  display: inline-flex;
  border: 1px solid #EBEBEB;
  border-radius: 20px;
  padding: 0.1em 0.1em;
  text-align: center;
  margin: 2px;
}
.radical-svg, .word-svg {
  border-right: 0.5px solid #EBEBEB;
  margin-left: 10px;

}

.svg-definition {
  // display: none;
  width: 100px;
  z-index: 100;

}

svg-definition-word {
  width: 150px;
  margin-left: 5px;
}

.radical-svg {
  width: 30px;
}

.word-button {
  padding: 0.5em;
  display: inline-flex;
  border-radius: 40px;
}

.word-svg {
  height: 15px;
  margin-left: 2px !important;
}

// .radical-svg:hover+.svg-definition {
//   display:inline-block;
// }
//
// .svg-definition:hover {
//   display: inline-block;
// }



.canvas-container {
  order:1;
  // margin: 2em;
  border: 1px solid #EBEBEB;
  margin-bottom: 25px;
  display: flex;
}

.freeText{
  // width:50%;
  // padding:1em;
}

#download-link {
  // border: 1px solid blue;
  order:3;
  // width: 10%;
  // height:2em;
  float:left;
}

button#clearAll {
  z-index: 300;
    // float: right;
    display: inline-block;
}

.background-context {
  width: 80%;
}

.background-context-images {
  display: flex;
  width: 40%;
  text-align: left;
}

figcaption {
  padding: 1em;
  font-size: 0.7em;
}

img {
  // float:left;
}


//Configuration svgs
img.arrange-svg {
  // float:left;
  // display: inline-block;
    padding: 0.1em 0.5em;
    width: 65px;
}

.config-2-horizontal {
  background:none;
}

button.config-2-horizontal {
  // width: 50px;
    border: none;
    // padding-top: 1em;
}

.question-label{
  margin-left: 6px;

}

#addText{
  // padding: 0.6rem 1.2rem;
  height: 40px;
  width: 300px;
  border-radius: 10pt;
  border: 1px solid #EBEBEB;
  // margin-right: 15px;
}

.input-container{
  margin-bottom: 25px;
  display: flex;
  width: 600px;
}

.right-corner{

  display: flex;
  float:right;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.cornerButton{
  padding: 0.2rem 0.4rem;
  font-size: 10px;
  background: #fff;
  height: 20px;
  // margin-bottom: 15px;
  border-radius: 10pt;
  border: 1px solid #EBEBEB;
  margin-left: 10px;
}

.testButton{
  padding: 0.6rem 1.2rem;
  background: #fff;
  height: 40px;
  // margin-bottom: 15px;
  border-radius: 10pt;
  border: 1px solid #EBEBEB;
  margin-left: 10px;
}

h1 {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 800;
  // margin-top: 30px;
  margin-bottom: 0px
  // padding: 0;



}

h2 {
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 48px;
  margin-bottom: 10px
  // text-align: justify;
  // text-justify: inter-word;

}

h4 {
  font-size: 12px;
  font-weight: 300;
}

h3 {

  font-size: 14px;
  text-align: left;
  // padding: 20px;
  // margin-top: 30px;
  // margin-left: 10px;
}

.menu-heading{
  display: flex;

}

.tooltip {
  // text-align: left;
  // float:left;
  // clear: right;
    // display: inline-block;
    padding: 0;
    margin-bottom: 10px;
    background: none;
    border: none;
    display: flex;
}

// button.tooltip {
//     display: inline-block;
//     padding: 0;
//     margin: 0;
//     background: none;
//     border: none;
// }

div#radical-group-heading {
  padding: 1em 0em;
}


.main-page{
  // margin:30px;
}

.title {
  padding-bottom: 4em;
  text-align: left;
}

.alert {
	margin: 10px 0px;
	padding:12px;
	border-radius: 5px;

	font-family: 'Open Sans', sans-serif;
	font-size: .9rem;
	font-weight: 300;
	letter-spacing: 1px;
}

.alert:hover {
  cursor: pointer;
}

.alert:before {
	padding-right: 12px;
}

.alert:after {
  content: '\f00d';
  font-family: 'FontAwesome';
  float: right;
  padding: 3px;
    &:hover {
      cursor: pointer;
    }
}

.alert-info {
  color: #00529B;
  background-color: #BDE5F8;
  border: 1px solid darken(#BDE5F8, 15%);
}

.alert-info:before {
  content: '\f05a';
  font-family: 'FontAwesome';
}

.alert-warn, .alert-warn-two, .alert-warn-three {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 1px solid darken(#FEEFB3, 15%);
}

.alert-warn:before, .alert-warn-two:before, .alert-warn-three:before {
  content: '\f071';
  font-family: 'FontAwesome';
}

.alert-error {
  color: #D8000C;
  background-color: #FFBABA;
  border: 1px solid darken(#FFBABA, 15%);
}

.alert-error:before {
  content: '\f057';
	font-family: 'FontAwesome';
}

.alert-success {
  color: #4F8A10;
  background-color: #DFF2BF;
  border: 1px solid darken(#DFF2BF, 15%);
}

.alert-success:before {
  content: '\f058';
	font-family: 'FontAwesome';
}


#definition-tracker {
  // border: 1px solid red;
  padding-bottom: 1em;
}
