body {
  background-color: white;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}

.radical-svg {
  display: inline-block;
  border: 0.5px solid black;
}

.svg-definition {
  display: none;
  width: 100px;
}

.svg-definition {
  position:absolute;
  background:white;
  z-index: 100;
}

.radical-svg {
  width: 30px;
}

.radical-svg:hover+.svg-definition {
  display:inline-block;
}

.svg-definition:hover {
  display: inline-block;
}

.radical-menu {
  order:1;
  width: 50%;
  padding: 1em;
  border: 1px solid black;
}

.canvas-container {
  order:1;
  border: 1px solid black;
}

.parent-container {
  display: flex;
}

#download-link {
  border: 1px solid blue;
  order:3;
  width: 10%;
}
