

body {
  background-color: white;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 3vh 1rem;
  text-align: center;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.parent-container {
  display: flex;
}

.radicals.right {
  // display: flex;
  margin-left: 2em;
}

.radical-menu-container {
  border-radius: 15pt;
  overflow: hidden;
  border: 1px solid black;
}

.radical-menu, .word-menu {
  order:1;
  padding: 1em;
  height: 400px;
  text-align: left;
}

.radical-menu {
  overflow: scroll;

}

.word-menu {
  height: fit-content;
}

.radical-menu::-webkit-scrollbar {
  width: 11px;
}

.radical-menu {
  scrollbar-width: thin;
  scrollbar-color: var(#90A4AE) var(#CFD8DC);
}

.radical-menu::-webkit-scrollbar-track {
  background: var(#CFD8DC);
}
.radical-menu::-webkit-scrollbar-thumb {
  background-color: var(#90A4AE) ;
  border-radius: 6px;
  border: 3px solid var(#CFD8DC);
}


.radical-group-category {
    display: inline;
    width: 200px;
}

.radical-button, .word-button {
  display: inline-flex;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0.1em 0.1em;
  text-align: center;
  margin: 2px;
}
.radical-svg, .word-svg {
  border-right: 0.5px solid black;
  margin-left: 10px;

}

.svg-definition {
  // display: none;
  width: 100px;
  z-index: 100;

}

svg-definition-word {
  width: 150px;
  margin-left: 5px;
}

.radical-svg {
  width: 30px;
}

.word-button {
  padding: 0.5em;
  display: inline-flex;
  border-radius: 40px;
}

.word-svg {
  height: 15px;
  margin-left: 2px !important;
}

// .radical-svg:hover+.svg-definition {
//   display:inline-block;
// }
//
// .svg-definition:hover {
//   display: inline-block;
// }

.canvas-container {
  order:1;
  border: 1px solid black;
}

.freeText{
  width:50%;
  padding:1em;
}

#download-link {
  // border: 1px solid blue;
  order:3;
  // width: 10%;
  height:2em;
  float:left;
}

button#clearAll {
    float: right;
    display: inline-block;
    // margin-bottom: 1em;
}

.background-context {
  width: 80%;
}

.background-context-images {
  display: flex;
  width: 40%;
  text-align: left;
}

figcaption {
  padding: 1em;
  font-size: 0.7em;
}

//Configuration svgs
img.arrange-svg {
    padding: 0.5em 0.5em;
    width: 44px;
}

.config-2-horizontal {
  background:none;
}

button.config-2-horizontal {
    border: none;
    padding-top: 1em;
}

h3 {
  display:inline-block;
}

button.info-tooltip {
    display: inline-block;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}
