<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= current_page.data.title || "HanziMaker" %></title>


    <link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'game' %>
    <%= stylesheet_link_tag 'game' %>

  </head>
  <body>
    <%= yield %>
  </body>
</html>
