<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Welcome to The Future of Memory</title>

    <%= javascript_include_tag 'background-audio' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
