<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Algorithmic Censorship Resistance Toolkit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Fira+Sans:400,700'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css'>
    <%= stylesheet_link_tag "toolkit" %>

</head>
  <body>
    <%= yield %>
  </body>
</html>
