

    <div id="examples left">
      <h3>Examples</h3>
      <button class="info-tooltip" aria-label="Existing examples of made up Chinese words" data-balloon-pos="up">
         <img src="assets/images/icons/info.svg" class="config-info">
      </button>
      <figure>
        <%= image_tag "niubi.jpg", :width => '50px'%>
      </figure>
      <figcaption>
        niubi, meaning awesome. uses "niu" 牛 character for cow, and B, english letter.
      </figcaption>
      <figure>
      <%= image_tag "shiwai.jpg", :width => '50px'%>
      </figure>
      <figcaption>
        shi wai, or "deadly person", referring to CY Leung during umbrella revolution.
        尸shi and Y letter.
      </figcaption>
      <figure>
        <%= image_tag "ta.jpg", :width => '50px'%>
      </figure>
      <figcaption>
        Ta, 他 and 她 alternative, third person non-binary.
      </figcaption>

      <figure>
        <%= image_tag "hk.jpg", :width => '50px'%>
      </figure>
      <figcaption>
        (a) Oppose China, Destabilize Hong Kong, (b) Thief/Seller of Hong Kong, and (c) Hong Kong independence.
      </figcaption>
    </div>
