<!-- <div id ="info" class="info landing window"> -->
<div id="landing-background">

  <div id ="landing">

    <div id="top">
      <!-- <a id="close" href="" onmousedown="closeinfo()">&times;</a> -->
      <!-- <a href="" class="modal__close demo-close close" onmousedown="closeinfo()">&times;</a>      -->
    </div>

    <div class = "main">
      <greeting>你好 ni hao!</greeting> <br><br>
      <description>
        Hanzi Maker is part of Counter Algorithmic Censorship Toolkit.<br><br>

        Censorship in China is speading beyond its border. It is affecting everyone, including you. (insert sentences about why people will find this tool useful) We invite you to create your own Hanzi (Chinese charachter) to bypass automated censorship. <br><br>

        If you have no prior knowledge about Hanzi, we recommend you to go through the Hanzi 101 session.<br><br>

        Note: The data generated during your participation will not be stored. <br>
      </description>
    </div>

     <div class="buttons info-footer">

          <!-- <a href="" data-modal="#modal4" class="modal__trigger">Hanzi 101</a>   -->

          <!-- <a href="" data-modal="#modal4" class="button-landing" >Hanzi 101</a>  -->

          <!-- <button class='open-walkthrough'>Hanzi 101</button> -->

          <div class="walkthrough'">
              <div>
                <!-- insert hanzi-101 partial -->

              </div>

             <!--  <a href="" class="demo-close" onmousedown="closeinfo()">
                <svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>
              </a>  -->

          </div>


          <button class ='button-landing inactive' onmousedown="closeinfo()">Skip</button>
    </div>

<!--         <div id="modal4" class="modal modal__bg" role="dialog" aria-hidden="true">
          <div class="modal__dialog">
            <div class="modal__content">
              <div>

              </div>

              <a href="" class="demo-close" onmousedown="closeinfo()">
                <svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>
              </a>

            </div>
          </div>
        </div> -->

<!--     <div class="buttons info-footer">

          <a href="">

            <div>
                <div>

                </div>

                <a href="" class="demo-close" onmousedown="closeinfo()">
                  <svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>
                </a>

            </div>

            <button class ='button-landing'>Hanzi 101</button>

          </a>

          <button class ='button-landing inactive' onmousedown="closeinfo()">Skip</button>
    </div>  -->




<!--     <div class='info-footer'>
        <a href="http://www.qianqian-ye.com/Everyday/Day47/index.html"><button class ='button-landing'>Hanzi 101</button></a>
        <button class ='button-landing inactive' onmousedown="closeinfo()">Skip</button>
    </div> -->

  </div>

</div>
