
  <div class='walkthrough show reveal'>
    <div class='walkthrough-pagination'>
      <a class='dot active'></a>
      <a class='dot'></a>
      <a class='dot'></a>
      <a class='dot'></a>
      <a class='dot'></a>
    </div>
    <div class='walkthrough-body'>
      <ul class='screens animate'>

        <li class='screen'>
          <h3>
            Radicals are building blocks
            <br>of Chinese characters</br>
          </h3>

          <div class='media books'>
            <img class='icon' src='assets/images/onboarding/book_icon_1.png'>
            <img class='icon' src='assets/images/onboarding/book_icon_2.png'>
            <img class='icon' src='assets/images/onboarding/book_icon_3.png'>
          </div>

          <p>For example, radical 木(tree) is used as building blocks for a lot of characters. Double 木 forms 林(woods), while triple 木 becomes 森(forest).</p>
        </li>


        <li class='screen'>
          <h3>
             Most of the radicals
            <br>resemble objects</br>
          </h3>

          <div class='media object'>
            <img class='icon' src='assets/images/onboarding/object_icon_1.png'>
            <img class='icon' src='assets/images/onboarding/object_icon_2.png'>
          </div>

          <p>For example, radial 山 means mountain and its pictographic form depicts mountain peaks. </br></p>

        </li>

        <li class='screen'>
          <h3>
            Radicals appear in different
            <br>positions of a Chinese character</br>
          </h3>
          <div class='media bars'>
            <img class='icon' src='assets/images/onboarding/bar_icon_1.png'>
            <img class='icon' src='assets/images/onboarding/bar_icon_2.png'>
            <img class='icon' src='assets/images/onboarding/bar_icon_3.png'>
            <img class='icon' src='assets/images/onboarding/bar_icon_4.png'>
          </div>

          <p>For example, all the radicals above can be found under  ‘Plant’ category. For example, all the radicals above can be found under  ‘Plant’ category.</p>
        </li>


        <li class='screen'>

          <h3>
            Radicals can be categorized
            <br>by their meanings</br>
          </h3>
          <div class='media files'>
            <img class='icon' src='assets/images/onboarding/file_icon_1.png'>
            <img class='icon' src='assets/images/onboarding/file_icon_2.png'>
            <img class='icon' src='assets/images/onboarding/file_icon_3.png'>
          </div>

          <p>For example,the radical 口 (mouth) can be found at bottom, top, left, right, and inside of a character. </p>
        </li>


        <li class='screen'>
          <h3>
            Hanzi Maker can snap selected radicals
            <br>to auto-configured positions</br>
          </h3>
          <div class='media comm'>
            <img class='icon' src='assets/images/onboarding/comm_icon_1.png'>
            <img class='icon' src='assets/images/onboarding/comm_icon_2.png'>
          </div>

          <p> These are most common configurations.These are most common configurations.These are most common configurations.</p>
        </li>


      </ul>
      <button class='prev-screen'>
        <i class='icon-angle-left'></i>
      </button>
      <button class='next-screen'>
        <i class='icon-angle-right'></i>
      </button>
    </div>

    <div class='walkthrough-footer'>
      <button class='button next-screen'>Next</button>
      <button class='button finish close' disabled='true'>Finish</button>
    </div>
  </div>

<div class='onboarding-background'>
</div>
<%= javascript_include_tag 'onboarding' %>
