<div class="container">
    <div class="about-text">
        <a href="javascript:history.back()" class="back-link">back to The Future of Memory</a>
        <br>
        <h2>About</h2>
        <p>
        Our capacity for change is shaped by our capacity for language: new phrases, words and revolutions are created by our ability to imagine new worlds and vocabularies. From hashtags and political slogans, words serve as reminders and provocations of where we've been and where we are headed.
        </p>

        <p>
          The Future of Memory is a place of provocation: a collected toolkit and a text-based adventure. The project highlights the tensions that emerge when corporate platforms around the world have centralized power over speech online, and deploy automated moderation systems that prioritize profit over care.
        </p>

        <p>
          To experience working at The Future of Memory, a fictional online social media platform with an office based in San Francisco, you can play the <a href="https://thefutureofmemory.online/fom-game/" target="_blank">game</a>. Otherwise, you can try your hand at making a new language using the <a href="https://thefutureofmemory.online/hanzi-maker/" target="_blank">Hanzi Maker</a>, or our other tools like <a href="https://thefutureofmemory.online/homophone-search/" target="_blank">Mandarin Chinese homophone finder</a>, both in the <a href="https://thefutureofmemory.online/toolkit/" target="_blank">Algorithmic Censorship Resistance Toolkit</a>.
        </p>

        <p>
          Whether in the US, in China, or globally, language online has become the medium in which expression and activism arises. Language has also become a form of data, used to create machine learning systems for profit. Public posts and messages often times helping build the automated machine learning systems that patrol language online. "The systemic manipulation and monetisation of digitised language is a threat to the security and stability of modern society. The very words we use to communicate, learn, debate, and critique have become compromised by opaque algorithmic organisation and optimisation, and the market-driven profits of private companies such as Google. We might therefore ask ourselves, just how resilient and secure is language in the digital age?" <a href="https://crestresearch.ac.uk/comment/thornton-words-as-data/" target="_blank">writes researcher Pip Thornton</a>.
        </p>


        <p>
          Language has also become an arena for automated censorship and moderation, a contested space where private platforms are increasingly given political and social power over speech. In the People's Republic of China, automated censorship by online platforms has led to a surge of creativity as online netizens scramble to “fool the machine”, through creative use of homophones to memes, images and new characters that bypass OCR (optical character recognition).

        </p>

    </div>

    <div class="credits">
        
        <h2>Commissioned by:</h2>
        <p>
        Mozilla’s <a href="https://foundation.mozilla.org/en/blog/toolkit-outsmarting-ai-powered-censorship/" target="_blank">Creative Media Award</a>
        </p>

        <h2>The Future of Memory team:</h2>
        <p>
        <a href="http://qianqian-ye.com/" target="_blank">Qianqian Ye</a>, <a href="http://xiaoweiwang.com/" target="_blank">Xiaowei Wang</a>
        </p>

        <h2>Research:</h2>
        <p>
        <a href="https://jasminewang.substack.com/" target="_blank">Jasmine Wang</a>, Yang Yuting
        </p>

        <h2>Music:</h2>
        <p>
        <a href="http://pointlinesurface.com/" target="_blank">Cullen Miller</a>
        </p>

        <h2>Web Help:</h2>
        <p>
        <a href="http://www.ianpearce.org/" target="_blank">Ian Pearce</a>
        </p>

        <h2>Icons:</h2>
        <p>
        Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" target="_blank" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" target="_blank" title="Flaticon"> www.flaticon.com</a>
        </p>

        <h2>Misc:</h2>
        <p>
        Game made in <a href="http://twinery.org/" target="_blank">Twine</a>
        <br>
        Walkthrough screen on Hanzi Maker from <a href="https://codepen.io/jebbles/pen/MKoYya" target="_blank">https://codepen.io/jebbles/pen/MKoYya</a>
        <br>
        Github repo for this site <a href="https://github.com/xrwang/thenuhanzi/" target="_blank">https://github.com/xrwang/thenuhanzi/</a>
        </p>
    </div>

</div>
