---
title: Welcome to The Future of Memory
---

<div class="vimeo-wrapper">
  <iframe src="https://player.vimeo.com/video/469391372?background=1" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>

<div class="overall">
    <div class ="menu">

      <div class="button">
      <button aria-label="Make your own language to bypass automated censorship" data-balloon-pos="up">
        <%= link_to 'Hanzi Maker', '/hanzi-maker', :relative => true %>
      </button>
      </div>

      <div class="button">

      <button aria-label="Look at the collected toolkit for ways online users have bypassed automated censorship" data-balloon-pos="up">
        <%= link_to 'Bypassing Automated Censorship Toolkit', '/toolkit', :relative => true %>
      </button>
      </div>

      <div class="button">

      <button aria-label="Play a text based adventure game" data-balloon-pos="up">
        <%= link_to 'Play The Future of Memory', '/fom-game.html', :relative => true %>
      </button>


      </div>

    </div>


    <div class="audio">
      <audio controls src="/assets/FOM-YBCA.mp3" loop autoplay>
                Your browser does not support the
                <code>audio</code> element.
      </audio>
    </div>
  </div>
