---
title: Welcome to The Future of Memory
---

<div class="vimeo-wrapper">
  <iframe src="https://player.vimeo.com/video/469391372?background=1" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>

<div class="overall">


    <div class ="menu">
        <div class = "intro">
    <p>
      Welcome to The Future of Memory, a provocation on algorithmic content moderation, power, profit and the ever shifting nature of language online.
    </p>
  </div>

      <div class="button">
      <button aria-label="Play a text based adventure game" data-balloon-pos="up">
        <%= link_to 'The Future of Memory Game', '/fom-game.html', :relative => true %>
      </button>
      </div>

      <div class="button">
      <button aria-label="Look at the collected toolkit for ways online users have bypassed automated censorship" data-balloon-pos="up">
        <%= link_to 'Algorithmic Censorship Resistance Toolkit', '/toolkit', :relative => true %>
      </button>
      </div>

      <div class="button">
      <button aria-label="Make your own language to bypass automated censorship" data-balloon-pos="up">
        <%= link_to 'Hanzi Maker', '/hanzi-maker', :relative => true %>
      </button>
      </div>

    </div>
  </div>

<!-- hack to bypass autoplay restrictions on Chrome -->
<!-- https://olafwempe.com/how-to-enable-audio-and-video-autoplay-with-sound-in-chrome-and-other-browsers-in-2019 -->
<iframe src="/assets/audio/silence.mp3" type="audio/mp3" allow="autoplay" style="display:none"></iframe>
<audio id="audio" autoplay loop>
  <source src="/assets/audio/FOM-YBCA.mp3" type="audio/mp3">
</audio>

<button id="audio-btn"><img src="<%= image_path('mute.png') %>" /></button>
