---
title: Welcome to The Future of Memory
---

<div class="vimeo-wrapper">
  <iframe src="https://player.vimeo.com/video/469391372?background=1" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>

<div class="overall">


    <div class ="menu">
        <div class = "intro">
    <p>
      Future of Memory is …  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis ante tellus. Praesent felis nisi, consectetur non ultrices non, semper a tortor. Nullam non posuere mauris, ut consequat dui. Morbi luctus et eros at gravida. Etiam quis aliquam orci. Phasellus non justo nec tortor viverra cursus. Integer justo arcu, pharetra sit amet laoreet nec, pretium in ex. Nam pellentesque elit id velit volutpat accumsan. Pellentesque habitant morbi tristique senect
    </p>
  </div>

      <div class="button">
      <button aria-label="Play a text based adventure game" data-balloon-pos="up">
        <%= link_to 'The Future of Memory Game', '/fom-game.html', :relative => true %>
      </button>
      </div>

      <div class="button">
      <button aria-label="Look at the collected toolkit for ways online users have bypassed automated censorship" data-balloon-pos="up">
        <%= link_to 'Algorithmic Censorship Resistance Toolkit', '/toolkit', :relative => true %>
      </button>
      </div>

      <div class="button">
      <button aria-label="Make your own language to bypass automated censorship" data-balloon-pos="up">
        <%= link_to 'Hanzi Maker', '/hanzi-maker', :relative => true %>
      </button>
      </div>

    </div>

     <div class='bottom-right'><img id='vol' src='/assets/images/icons/vol-off.png' alt='volume off icon'>
    </div>


    <div class="audio">
<!--       <audio controls src="/assets/FOM-YBCA.mp3" loop autoplay>
                Your browser does not support the
                <code>audio</code> element.
      </audio> -->
    </div>
  </div>
