---
title: Welcome to The Future of Memory
---


<div class="overall">
    <div class ="menu">

      <div class="button">

      <%= link_to 'Hanzi Maker', '/hanzi-maker.html', :relative => true %>

      </div>

      <div class="button">

      <%= link_to 'Bypassing Automated Censorship Toolkit', '/toolkit-full.html', :relative => true %>

      </div>

      <div class="button">

      <%= link_to 'Play The Future of Memory', '/fom-game.html', :relative => true %>

      </div>

    </div>


    <div class="audio">
      <audio src="/assets/FOM-YBCA.mp3" loop autoplay>
                Your browser does not support the
                <code>audio</code> element.
      </audio>
    </div>
  </div>
